body {
  padding: 0;
  margin: 0;
  height: 100%;
}
#header {
  padding-top: 20px;
  padding-left: 13px;
  margin: 0;
  background: rgb(249, 249, 249);
  border-bottom: 1px solid rgb(222, 222, 222);
  position:relative;
}
#google_logo {
  position:relative;
  top: 4px;
}
#search_bar {
  position:absolute;
  left: 149px;
  top: 19px;
  max-height: 42px;
  background: #000;
}
#search_input {
  position: absolute;
  height:42px;
  width: 633px;
  top: 0;
  border-left: 1px solid rgb(222, 222, 222);
  border-top: 1px solid rgb(222, 222, 222);
  border-bottom: 1px solid rgb(222, 222, 222);
  border-right: 1px solid rgb(222, 222, 222);
  box-shadow:0px 4px 3px -3px #bfbfbf;
  border-radius: 3px;
}
#search_input:hover {
  box-shadow:0px 2px 10px #ccc;
}
#search {
  position:absolute;
  top: 25%;
  left: 597px;
  z-index: 1;
}
#mic {
  position:absolute;
  top: 24%;
  left:552px;
  z-index: 1;
}
