body {
  padding: 0;
  margin: 0;
  height: 1000px;
}
#header {
  padding-top: 20px;
  padding-left: 13px;
  margin: 0;
  background: rgb(249, 249, 249);
  border-bottom: 1px solid rgb(238, 238, 238);
  position:relative;
  min-width: 1000px;
  height: 102px;
}
#google_logo {
  position:relative;
  top: 4px;
}
#search_bar {
  position:absolute;
  left: 149px;
  top: 19px;
}
#search_input {
  position: absolute;
  height:42px;
  width: 632px;
  top: 0;
  border-left: 1px solid rgb(222, 222, 222);
  border-top: 1px solid rgb(222, 222, 222);
  border-bottom: 1px solid rgb(222, 222, 222);
  border-right: 1px solid rgb(222, 222, 222);
  box-shadow:0px 4px 3px -3px #bfbfbf;
  border-radius: 3px;
}
#search_input:hover {
  box-shadow:0px 2px 10px #ccc;
}
#search {
  position:absolute;
  left: 593px;
  z-index: 1;
  top: 13px;
}
#mic {
  position:absolute;
  left:552px;
  z-index: 1;
  top: 10px;
}
#options, #bell, #pic {
  position: absolute;
}
#pic {
  right: 24px;
  top: 24px;
}
#bell {
  right: 79px;
  top: 30px;
}
#options {
  right: 126px;
  top: 34px;
}
#menubar li{
  display: inline;
  padding-left: 25px;
  color: rgb(106, 106, 106);

}

#menubar li a {
  text-transform: none;
}
#menubar {
  position: relative;
  left: 86px;
  top: 6px;
}
